.tweets {

  width: 100%;
  max-width: 120px; /* You can adjust this width */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color:cornsilk;

}

article.tweets {

  display: flex;
  align-items:center;

}